Software needs to
 - Provide the required capacity
 - Be available when needed
 - Get delivered on schedule at an acceptable price
 - Be of sufficient quality ( minimize rework )

- A software requirement is a condition or capacity required by an user to solve a problem or achieve an 
objective

- A software requirement defines the objectives, constraints and quality attributes that the product must exhibit.

- A software requirement document is a contractual agreement between the customer and the contractor.
 -> It''s legally enforceable
 -> Define for what the customer is paying
 ->If not delivered, Supplier may not get paid.

- If it''s not in the requirements, Customers get a gift.
- Supplier takes on unpaid liability.

- Each requirement and requirements change represents an element of cost.
- Every requirement is designed, coded, integrated and tested.
- Each requirement poses an element of risk. -> Measures to mitigate risks represents cost

- Initial development is only 40% of Software cost. The remaining 60% is post development rework.
- Requirements errors can account upto 60-70% of the rework cost.

-> Rework Categories
 = Corrective
 = Adaptive
 = Perfective

> Always reduce corrective and adaptive rework during the development and testing process.

- Always architect the system to be modifiable/Adaptable.

- Investing in good requirements leads to
 => Fewer defects
 => Reduced development work
 => Faster development work
 => Higher customer satisfaction
 => Reduced miscommunications
 => The product does what it''s intended to do.
 => Fewer Unncessary features

 - A stakeholder is a person ->who is actively involved in the project
                            ->is affected by its process or outcomes
                            -> can influence the outcome of the process/product.

 - 2 types of Stakeholders => Internal and External
  
 - Customers are a subset of stakeholders

 - Software customers could request, pay for, select ,specify ,use or receive the output generated by a software product.

 - Sources of Requirements 
  => Customers and Users
  => Enterprise Arhitect Principles
  => Human Machine Interfaces
  => External System Interfaces
  => Business Rules
  => Human Factors
  => Change Requests
  => Laws and Regulation
  => Standards (Security, protocols,OS)
  => Third party products
  => Laws of Physics
  => Experience
  => Engineering judgement 
  => Vision